### PROJECT SETTINGS

PROJECT_NAME=llom
PROJECT_BASE_URL=llom.ddev.site

## Environment indicator
## see settings.local.php
ENV_NAME=Local
#ENV_NAME=Testing
#ENV_NAME=Staging
#ENV_NAME=Production

## DB connection
DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_PORT=3306
DB_DRIVER=mysql

## CLI installation
PROFILE=minimal
SITE_NAME="LLOM - Language Learning App"
SITE_MAIL=no-reply@uni-foundation.eu
ACCOUNT_NAME=admin
ACCOUNT_MAIL=admin@uni-foundation.eu
ACCOUNT_PASS=
# The account pass can be left blank; Drush will generate a password.

## Backup retention policy
## see scripts/generate_backup.sh
KEEP_PREVIOUS_HOURLY=
KEEP_PREVIOUS_DAILY=
KEEP_PREVIOUS_WEEKLY=
KEEP_PREVIOUS_MONTHLY=
