parameters:
    level: 5
    paths:
        - web/modules/custom/

    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        ##- "#^Unsafe usage of new static#"
